.modal-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    width: clamp(300px, 50%, 600px);
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(
      135deg,
      rgba(186, 104, 255, 0.9),
      rgba(221, 160, 255, 0.9)
    );
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.3s ease;
    color: white;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease;
  
    &:hover {
      transform: scale(1.2);
      color: #ff4d4d;
    }
  }

  .modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .modal-btn {
      padding: 10px 20px;
      border-radius: 10px;
      background: linear-gradient(135deg, #a855f7, #7c3aed);
      color: white;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  