.errorelement{
    width: 400px;
    display: grid;
    place-items: center;

    h1{
        font-size: 80px;
        margin-bottom: 15px;
    }

    h3{
        font-size: 20px;
        margin-bottom: 30px;
    }

}